<ion-view view-title="Drug">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="mcfly.jpg">
        <div>
          <i class="icon ion-alert-circled"></i>
        </div>
        <h1>Ajmaline</h1>
        <p>Class I</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          <h2>Clinical Use: </h2> Antiarrhythmic Agent (1A: Na-blocker) / Arrhythmias
        </p>
        <p>
          <h2>References: </h2>
          <a href="#" class="subdued">Ref1</a>
          <a href="#" class="subdued">Ref2</a>
          <a href="#" class="subdued">Ref3</a>
          <a href="#" class="subdued">Refe20004</a>
          <a href="#" class="subdued">Referasdasd</a>
          <a href="#" class="subdued">Refeadasdas</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
